<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de Contraseña</title>
</head>

<body>
    <div>
        <h1>Recuperación de Contraseña</h1>
        <p>Hola {{recipientName}},</p>
        <p>Tu contraseña ha sido restablecida exitosamente. Tu nueva contraseña es:</p>
        <h3>{{newPassword}}</h3>
        <p>Recuerda cambiarla por una más segura cuando inicies sesión.</p>
        <p>¡Gracias por usar nuestra aplicación!</p>
        <p><strong>Tu equipo de Administración</strong></p>
    </div>
</body>

</html>
